<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Order</title>
    <link rel="stylesheet" href="/navbar2.css" />
    <link rel="stylesheet" href="/footer.css" />
</head>
<body>
    <%- include('partials/navbar2', { role }) %>
    <main></main>
        <%- include("partials/footer") %>
</body>
</html>