<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/customer/customercontactus.css" />
    <link rel="stylesheet" href="/navbar2.css" />
    <link rel="stylesheet" href="/footer.css" />
  </head>

  <body>
    <%- include ('partials/navbar2'), {role} %>
    <main>
      <div class="container">
        <div class="image-section">
          <img
            src="/images/landingpage/mainimage.jpg"
            alt="Contact image"
            class="contact-image"
          />
        </div>
        <div class="form-section">
          <h1>Contact Us</h1>
          <form id="contactForm" name="submit-to-google-sheet">
            <div class="form-group">
              <input
                type="text"
                name="fullName"
                id="fullName"
                placeholder="Full Name"
                required
              />
            </div>
            <div class="form-group">
              <input type="email" id="email" name="email" placeholder="E-mail" required />
            </div>
            <div class="form-group">
              <textarea id="message" name="message" placeholder="Message" required></textarea>
            </div>
            <button type="submit" class="contact-btn">Contact Us</button>
          </form>

          <div class="contact-info">
            <p>
              Contact:
              <a href="mailto:artisianspace09@gmail.com"
                >Artisanspace09@gmail.com</a
              >
            </p>
            <p>Based in<br />SriCity, India</p>
          </div>

          <div class="social-links">
            <a href="#" aria-label="Facebook"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="#" aria-label="Instagram"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </main>
    <%- include ('partials/footer') %>
    
    <script>
      const scriptURL = 'https://script.google.com/macros/s/AKfycbw5dQlZ0fAvn3kYpbdIIBOqKn67jXfzun9ofTkQI5recF2Wn4X26wIX9dz92X8Rsbg/exec'
      const form = document.forms['submit-to-google-sheet']
      
      form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
          .then(response => {
            console.log('Success!', response)
            alert('Form submitted successfully!')
            form.reset() 
          })
          .catch(error => {
            console.error('Error!', error.message)
            alert('Error submitting form. Please try again.')
          })
      })
    </script>
  </body>
</html>