<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/header&footer.css" />
   <link rel="stylesheet" href="/landingpage/style.css">
  </head>

  <body>
    <div></div>
    <header>
      <div class="backimageheader"></div>

      <div class="headelems">
        <div class="logo">
          <img src="/images/logo.png" alt="logo" />
        </div>
        <div class="search-bar">
          <input type="search" />
          <button type="submit">Search</button>
        </div>
      </div>
    </header>
    <main>
      <nav class="navbar">
        <div class="navitem">
          <div class="item">Item</div>
          <div class="item">Item</div>
          <div class="item">Item</div>
          <div class="item">Item</div>
        </div>
        <div class="navbutton">
          <a href="/login"><button type="button">Login</button></a>

          <a href="/signup"><button type="button">Signup</button></a>
        </div>
      </nav>

      <div class="mainimage">
        <h3>We Make Things With love</h3>
        <h1>HANDMADE</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
          eligendi repudiandae vero quis? Nostrum provident repellendus alias
          incidunt, perferendis aut blanditiis dicta nisi, magni enim sint
          magnam quidem eius temporibus maxime facere?
        </p>
      </div>
      <div class="seconelem">
        <img src="/images/landingpage/artisan.jpg" alt="" srcset="" />
        <div class="welcomecontent">
          <h1>Welcome To ArtisanSpace</h1>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover
          </p>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="topfooter">
        <div class="topfooter1">
          <p class="logop">AS</p>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
        <div class="footerhelp">
          <p class="help">Help</p>
          <p>Find your Product</p>
          <p>Contact</p>
          <p>Order History</p>
        </div>

        <div class="ourinfo">
          <p class="info">Our Information</p>
          <p>IIIT SriCity</p>
          <p>+91 0000000000</p>
          <p>Artisanspace@gmail.com</p>
        </div>
      </div>
      <div class="bottomfooter">
        Copyright &copy; 2025 All Rights Reserved by ArtisanSpace
      </div>
    </footer>
  </body>
</html>
