<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HomePage</title>
  <link rel="stylesheet" href="/header1.css" />
  <link rel="stylesheet" href="/landingpage/style.css">
  <link rel="stylesheet" href="/footer.css">

</head>

<body>
  <%- include("partials/header") %>
  <main>
    <%- include("partials/navbar", {token}) %>
    <div class="mainimage">
      <h3>We Make Things With love</h3>
      <h1>HANDMADE</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
        eligendi repudiandae vero quis? Nostrum provident repellendus alias
        incidunt, perferendis aut blanditiis dicta nisi, magni enim sint
        magnam quidem eius temporibus maxime facere?
      </p>
    </div>
    <div class="seconelem">
      <img src="/images/landingpage/artisan.jpg" alt="" srcset="" />
      <div class="welcomecontent">
        <h1>Welcome To ArtisanSpace</h1>
        <p>
          It is a long established fact that a reader will be distracted by
          the readable content of a page when looking at its layout. The point
          of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content
          here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default
          model text, and a search for 'lorem ipsum' will uncover
        </p>
      </div>
    </div>
  </main>
  <%- include("partials/footer") %>
</body>

</html>