<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listings</title>
  <link rel="stylesheet" href="/navbar2.css" />
  <link rel="stylesheet" href="/footer.css" />
  <link rel="stylesheet" href="/settingCssScript/setting.css">
  <style>

  </style>
</head>

<body>
  <script src="/settingCssScript/settingscript.js"></script>
  <%- include ('partials/navbar2'), {role} %>
  <main>
    <div class="container">
      <div class="header">
        <h1>Settings</h1>
      </div>

      <div class="tabs">
        <div class="tab active" data-tab="profile">Profile</div>
        <div class="tab" data-tab="address">Address</div>
      </div>

      <div class="tab-content active" id="profile">
        <div class="form-group">
          <label for="username">Username (Non editable)</label>
          <input type="text" id="username" class="form-control" disabled required>
        </div>

        <div class="form-group">
          <label for="email">Email Address (Non editable)</label>
          <input type="email" id="email" class="form-control" disabled required>
        </div>

        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" id="name" class="form-control" disabled required>
          <button class="btn btn-primary btn-edit" data-field="name">Edit</button>
          <p id="fullNameError" style="color: red; font-size: 14px; margin: 5px 0 0; display: none;">
            fullName can only contain aphabets
          </p>
        </div>

        <div class="form-group">
          <label for="mobile_no">Phone Number</label>
          <input type="tel" id="mobile_no" class="form-control" disabled required>
          <button class="btn btn-primary btn-edit" data-field="mobile_no">Edit</button>
          <p id="mobile_noError" style="color: red; font-size: 14px; margin: 5px 0 0; display: none;">
            length can be only 10 digits and only numbers
          </p>
        </div>
      </div>




      <!-- //addres section -->

      <div class="tab-content" id="address">
        <div class="address-form">
          <button class="btn btn-edit btn-primary btn-address" id="editAddressBtn">Edit</button>
          <div class="form-group">
            <label for="addressLine1">Address Line 1</label>
            <input type="text" id="addressLine1" class="form-control" disabled required>
          </div>

          <div class="form-group">
            <label for="addressLine2">Address Line 2</label>
            <input type="text" id="addressLine2" class="form-control" disabled required>
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" class="form-control" disabled required>
          </div>

          <div class="form-group">
            <label for="state">State / Province</label>
            <input type="text" id="state" class="form-control" disabled required>
          </div>

          <div class="form-group">
            <label for="zipCode">Zip / Postal Code</label>
            <input type="text" id="zipCode" class="form-control" disabled required>
          </div>

          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" class="form-control" disabled required>
          </div>

          <button class="btn address-save-btn" id="saveAddressBtn" style="display: none;">Save Address</button>
          <input type="hidden" id="userData" value='<%= JSON.stringify(user) %>'>
        </div>
      </div>

    </div>
    <div class="account-delete">
      <button id="deleteAccountBtn" class="delete-btn">Delete Account</button>
    </div>

    <div class="toast" id="toast"></div>
  </main>

  <%- include ('partials/footer') %>


</body>

</html>