<footer class="footer">
  <div class="topfooter">
    <div class="topfooter1">
      <p class="logop">AS</p>
      <p>
        It is a long established fact that a reader will be distracted by
        the readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="footerhelp">
      <p class="help">Help</p>
      <p>Find your Product</p>
      <p>Contact</p>
      <p>Order History</p>
    </div>

    <div class="ourinfo">
      <p class="info">Our Information</p>
      <p>IIIT SriCity</p>
      <p>+91 0000000000</p>
      <p>Artisanspace@gmail.com</p>
    </div>
  </div>
  <div class="bottomfooter">
    Copyright &copy; 2025 All Rights Reserved by ArtisanSpace
  </div>
</footer>

