<footer class="footer">
  <div class="topfooter">
    <div class="topfooter1">
      <p class="logop">AS</p>
      <p>
        It is a long established fact that a reader will be distracted by
        the readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="footerhelp">
      <p class="help">Help</p>
      <a href="/aboutus" style="text-decoration: none; color: black"><p>AboutUs</p></a>
      
      <%if(role == "customer" || role == "artisan"){%>
      <a href="/<%= role%>/contactus" style="text-decoration: none; color: black;"><p>Contact</p></a>
      <%}%>
      
      <%if(role == "customer"){%>
      <a href="/customer/orders" style="text-decoration: none; color: black;"><p>Order History</p></a>
    <%}%>
    </div>

    <div class="ourinfo">
      <p class="info">Our Information</p>
      <p>IIIT SriCity</p>
      <p>+91 0000000000</p>
      <p>Artisanspace@gmail.com</p>
    </div>
  </div>
  <div class="bottomfooter">
    Copyright &copy; 2025 All Rights Reserved by ArtisanSpace
  </div>
</footer>

