<header>
  <div class="backimageheader"></div>

  <div class="headelems">
    <div class="logo">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div class="search-bar">
      <input type="search" />
      <button type="submit">Search</button>
    </div>
  </div>
</header>