<header>
    <div class="header-container">
      <div class="logo">ArtisanCraft</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li ><a href="#">Workshops</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>


