<nav class="navbar">
  <ul class="navitem">
    <!-- <li class="item">Item</li>
    <li class="item">Item</li>
    <li class="item">Item</li>
    <li class="item">Item</li> -->
  </ul>
  <div class="auth-buttons-container">
    <div class="navbutton">
      <a href="/login"><button type="button">Login</button></a>
      <a href="/signup"><button type="button">Signup</button></a>
    </div>
  </div>
</nav>