<header>
  <div class="header-container2">
    <div class="logonav2">ArtisanSpace</div>
    <nav class="nav2">
      <ul class="nav2ul">
        <% if(role == "customer"){ %>
        <li><a href="/customer">Home</a></li>
        <li><a href="/customer/store">Store</a></li>
        <li><a href="/customer/workshop">Workshops</a></li>
        <li><a href="/customer/orders">Orders</a></li>
        <li><a href="/logout">Logout</a></li>

        <% } else if (role === "admin") { %>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/support-ticket">support-ticket</a></li>
        <li><a href="/logout">Logout</a></li>


        <% } else if (role === "artisan") { %>
        <li><a href="dashboard">dashboard</a></li>
        <li><a href="listings">listings</a></li>
        <li><a href="/artisan/workshops">workshops</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/customer/aboutus">About Us</a></li>
        <li><a href="/customer/contactus">Contact</a></li>


        <% } else if (role === "manager") { %>
          <li><a href="/manager">Dashboard</a></li>
        <li><a href="/manager/content-moderation">content-moderation</a></li>
        <li><a href="/manager/listing">listings</a></li>
        <li><a href="/logout">Logout</a></li>


        <%}%>
      </ul>
    </nav>
  </div>
</header>