<header>
  <div class="header-container2">
    <div class="logonav2">ArtisanSpace</div>
    <nav class="nav2">
      <ul class="nav2ul">
        <% if(role == "customer"){ %>
        <li><a href="/customer">Home</a></li>
        <li><a href="/customer/store">Store</a></li>
        <li><a href="/customer/orders">Orders</a></li>
        <li><a href="/customer/workshop">Workshops</a></li>
        <li><a href="/customer/customorder">Custom Order</a></li>
        <li><a href="/logout">Logout</a></li>

        <% } else if (role === "admin") { %>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/support-ticket">Support-ticket</a></li>
        <li><a href="/logout">Logout</a></li>


        <% } else if (role === "artisan") { %>
        <li><a href="/artisan/">Dashboard</a></li>
        <li><a href="/artisan/listings">Listings</a></li>
        <li><a href="/artisan/workshops">Workshops</a></li>
        <li><a href="/artisan/customrequests">Custom Requests</a></li>
        <li><a href="/logout">Logout</a></li>


        <% } else if (role === "manager") { %>
        <li><a href="/manager">Dashboard</a></li>
        <li><a href="/manager/content-moderation">Content Moderation</a></li>
        <li><a href="/manager/listing">Listings</a></li>
        <li><a href="/logout">Logout</a></li>


        <%}%>
      </ul>
    </nav>
  </div>
</header>