<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Content-Moderation</title>
  <link rel="stylesheet" href="/navbar2.css" />
  <link rel="stylesheet" href="/footer.css" />
  <link rel="stylesheet" href="/manager/managerContentModeration.css">

</head>

<body>
  <%- include('../partials/navbar2', { role }) %>
  <div class="container">
    <h2>Manage Products</h2>

    <div class="tabs">
      <div class="tab" id="tab-approved">Approved Products <span class="count approved-count"></span></div>
      <div class="tab active" id="tab-pending">Pending Products <span class="count pending-count"></span></div>
      <div class="tab" id="tab-disapproved">Disapproved Products <span class="count disapproved-count"></span></div>
    </div>
    <!-- Approved Products -->
    <div id="approved-section" class="hidden">
    </div>
    <!-- Pending Products -->
    <div id="pending-section">
    </div>
    <!-- Disapproved Products -->
    <div id="disapproved-section" class="hidden">
    </div>
  </div>


  <%- include("../partials/footer") %>
  <script  src="/manager/managerContentModeration.js"></script>

</body>

</html>