.topfooter {
    background-color: #f8ead8;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 40px 80px;
    flex-wrap: wrap;
  }
  
  .topfooter1 {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    align-items: center;
  }
  
  .topfooter1 .logop {
    font-family: "Kranky";
    font-weight: bold;
    font-size: 40px;
  }
  
  .topfooter p {
    width: 260px;
    font-size: 16px;
  }
  
  .topfooter p {
    margin: 5px 0;
  }
  
  .footerhelp .help {
    color: #5c4033;
    font-weight: bold;
    font-size: 24px;
  }
  .footerhelp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
  }
  
  .ourinfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
  }
  
  .ourinfo .info {
    color: #5c4033;
    font-weight: bold;
    font-size: 24px;
  }
  .bottomfooter {
    text-align: center;
    color: white;
    width: 100%;
  
    background-color: #5c4033;
    padding: 20px;
  }